<div id="statistics">
    <h4>Statistics</h4>

    <div class="dashboardStatistics">

        <h1>Level: 27</h1>
        <div class="progress">
            <div class="bar bar-success" style="width: 35%;"></div>
        </div>
        <h2>Points: 8700 </h2>

        <div class="span3" style="margin-top: 20px">
            <h3 class="text-center"><icon class="icon-heart"></icon>Favorites</h3>
            <h1 class="text-center">40</h1>
        </div>
        <div class="span3" style="margin-top: 20px">
            <h3 class="text-center"><icon class="icon-comment"></icon>Comments</h3>
            <h1 class="text-center">60</h1>
        </div>
        <div class="span3" style="margin-top: 20px">
            <h3 class="text-center"><icon class="icon-facetime-video"></icon>Videochat Hours</h3>
            <h1 class="text-center">10</h1>
        </div>
        <div class="span3">
            <h3 class="text-center"><icon class="icon-user"></icon>Following</h3>
            <h1 class="text-center">20</h1>
        </div>
        <div class="span3">
            <h3 class="text-center"><icon class="icon-eye-open"></icon>Followers</h3>
            <h1 class="text-center">30</h1>
        </div>

    </div><!--./dashboardStatistics-->
</div><!--./Statistics-->