<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>


</head>

<body>

<!-- Nav Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">E-mmersion Linguistique</a>

            <div class="nav-collapse collapse">

                <!-- Sign In Form -->
                <form class="navbar-form pull-right" id="form-login">
                    <input class="span2" type="text" placeholder="Email" name="email">
                    <input class="span2" type="password" placeholder="Password" name="password">
                    <button type="submit" class="btn" value="send">Sign in</button>
                </form>
                <!-- Sign In Form -->
            </div>
        </div>
    </div>
</div>
<!--Nav Bar -->

<div class="container">

    <div id="message" class="alert alert-error" style="display:none"></div>

    <div class="span12">
        <!-- Main Text -->

        <div class="span8">
            <h2>Learn new language</h2>
            <img src="assets/img/mainImageFun.png">

        </div>
        <!-- Main Text -->


        <!-- Membership form -->

        <div class="span3">


            <h2>Register</h2>


            <form id="form-register">
                <label>First Name</label>
                <input type="text" name="first_name" class="span3">
                <label>Last Name</label>
                <input type="text" name="last_name" class="span3">
                <label>Country</label>
                <input type="text" name="location_country" class="span3">
                <label>Email</label>
                <input type="email" name="email" class="span3">
                <label>Password</label>
                <input type="password" name="password" class="span3">
                <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and
                    Conditions</a>.</label>
                <input type="submit" value="submit" class="btn btn-primary pull-right">
            </form>

            <div class="clearfix"></div>

            <label style="text-align:center;margin-top:5px">or</label>


            <!-- Sign In with Facebook -->

            <a href="#modalSignInFacebook" role='button' class="btn btn-primary btn-block" data-toggle="modal"
               type="button">Sign In with Facebook</a>


            <!-- Modal Facebook Sign -->
            <div id="modalSignInFacebook" class="modal hide fade" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Sign up with Facebook</h3>
                </div>
                <div id="messageErrorFacebook"></div>
                <form id="form-login-facebook">
                    <div class="modal-body">
                        <label>Email</label>
                        <input type="email" name="email" class="span3">
                        <label>Password</label>
                        <input type="password" name="password" class="span3">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="submit" class="btn btn-primary pull-right">
                    </div>
                </form>

            </div>


            </form>

        </div>
    </div>
    <!--/ Membership FORM -->

</div>
<!--/ Span12 -->


<div class="row" style="margin-top: 50px">


    <!-- Example row of columns -->

    <div class="span4">
        <h2 class="text-center">Fun</h2>

        <p class="text-center">blabla</p>
    </div>

    <div class="span4">
        <h2 class="text-center">Easy</h2>

        <p class="text-center">blabla</p>
    </div>

    <div class="span4">
        <h2 class="text-center">Fun</h2>

        <p class="text-center">blabla</p>
    </div>

</div>
<!-- /container -->


<footer>
    <div class="container" style="margin-top: 200px">
        <p class="text-center">&copy; E-mmersion Linguistique 2013</p>
    </div>
</footer>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="assets/js/jquery-1.9.1.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/index.js"></script>


</body>
</html>

